
  .feedbackBtn{
    margin-right: 5px;
    background: rgba(15, 15, 235, 0.877);
    border-radius: 10px;
    color: #ffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    padding: 10px;
  }